/** @color Black */
$uvalib-black: #000;
/** @color White */
$uvalib-white: #FFF;
/** @color Danger */
$uvalib-danger: #B30000;
/** @color Success */
$uvalib-success: #00D66E;

/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-brand-blue-lightest: #87B9D9;
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
$uvalib-brand-blue-lighter: #3395D4;
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
$uvalib-brand-blue-light: #0370B7;
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
$uvalib-brand-blue: #232D4B;
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-brand-orange-lightest: #FFEAD6;
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
$uvalib-brand-orange: #E57200;
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
$uvalib-brand-orange-dark: #B35900;
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
$uvalib-blue-alt-light: #BFE7F7;
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-blue-alt-lightest: #BFE7F7;
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
$uvalib-blue-alt: #007BAC;
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
$uvalib-blue-alt-dark: #005679;
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-blue-alt-darkest: #141E3C;
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-teal-lightest: #C8F2F4;
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
$uvalib-teal-light: #5BD7DE;
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
$uvalib-teal: #1DA1A8;
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
$uvalib-teal-dark: #16777C;
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-green-lightest: #89CC74;
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
$uvalib-green: #62BB46;
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
$uvalib-green-dark: #4E9737;
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-red-lightest: #FBCFDA;
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
$uvalib-red: #EF3F6B;
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
$uvalib-red-dark: #DF1E43;
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-red-darkest: #B30000;
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
$uvalib-yellow-light: #FEF6C8;
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-yellow-lightest: #FEF6C8;
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
$uvalib-yellow: #ECC602;
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
$uvalib-yellow-dark: #B99C02;
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
$uvalib-beige: #F7EFE1;
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
$uvalib-beige-dark: #C0B298;
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
$uvalib-grey-lightest: #F1F1F1;
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
$uvalib-grey-light: #DADADA;
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
$uvalib-grey: #808080;
$uvalib-grey-dark: #565656;
$uvalib-grey-darkest: #2B2B2B;

$uvalib-text-light: #FFFFFF;
$uvalib-text: $uvalib-grey-dark;
$uvalib-text-dark: $uvalib-grey-darkest;
$uvalib-red-emergency: #DF1E43;

/*Secondary Brand Colors*/
$uvalib-secondary-web-orange: #EB5F0C;
$uvalib-secondary-web-blue: #141E3C;
$uvalib-secondary-cyan: #009FDF;
$uvalib-secondary-yellow: #FDDA24;
$uvalib-secondary-teal: #25CAD3;
$uvalib-secondary-magenta: #EF3F6B;
$uvalib-secondary-green: #008000; /*ADA compliant*/
$uvalib-secondary-light-gray: #F1F1F1;
$uvalib-secondary-medium-gray: #DADADA;
$uvalib-text-grey: #595959; /*ADA compliant*/
$uvalib-text-dk-grey: #474747; /*ADA compliant for hover over shaded table rows*/
$uvalib-text-almost-black: #212121; /*ADA compliant*/
$uvalib-secondary-emergency-red: #E00000; /*ADA compliant*/

/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
$uvalib-main-white: $uvalib-white;
$uvalib-main-black: $uvalib-black;
$uvalib-main-rotunda-orange: #E57200;
$uvalib-main-jefferson-blue: #232D4B;
$uvalib-secondary-orange: $uvalib-secondary-web-orange;
$uvalib-secondary-blue: $uvalib-secondary-web-blue;
$uvalib-secondary-lt-grey: #F1F1EF;
$uvalib-secondary-md-grey: $uvalib-secondary-medium-gray;

/* link colors for body links */
$uvalib-link-color: #0000FF;
$uvalib-link-color-visited: #660099;

/* Other color palette */
$uvalib-blue-50: #B3D4FF;
$uvalib-blue-100: #67A9FF;
$uvalib-blue-200: #2F8AFF;
$uvalib-blue-300: #0065E6;
$uvalib-blue-400: #0057C8;
$uvalib-blue-500: #004AA9;
$uvalib-blue-600: #003D8A;
$uvalib-blue-700: #002F6C;
$uvalib-blue-800: #00224D;
$uvalib-blue-900: #00142F;
$uvalib-blue-a100: #82B1FF;
$uvalib-blue-a200: #448AFF;
$uvalib-blue-a400: #2979FF;
$uvalib-blue-a700: #2962FF;

$uvalib-orange-50: #FFF4EA;
$uvalib-orange-100: #FFE8D2;
$uvalib-orange-200: #FFD3A8;
$uvalib-orange-300: #FFB060;
$uvalib-orange-400: #FFA042;
$uvalib-orange-500: #FF9123;
$uvalib-orange-600: #FF8204;
$uvalib-orange-700: $uvalib-main-rotunda-orange;
$uvalib-orange-800: #C66300;
$uvalib-orange-900: #A85400;
$uvalib-orange-a100: #FFD180;
$uvalib-orange-a200: #FFAB40;
$uvalib-orange-a400: #FF9100;
$uvalib-orange-a700: #FF6D00;

$uvalib-grey-50: #FAFAFA;
$uvalib-grey-100: #F5F5F5;
$uvalib-grey-200: #EEEEEE;
$uvalib-grey-300: #E0E0E0;
$uvalib-grey-400: #BDBDBD;
$uvalib-grey-500: #9E9E9E;
$uvalib-grey-600: #757575;
$uvalib-grey-700: #616161;
$uvalib-grey-800: #424242;
$uvalib-grey-900: #212121;

$uvalib-black-alpha-12: rgba(0, 0, 0, 0.12);
$uvalib-black-alpha-38: rgba(0, 0, 0, 0.38);
$uvalib-black-alpha-54: rgba(0, 0, 0, 0.54);
$uvalib-black-alpha-87: rgba(0, 0, 0, 0.87);
$uvalib-white-alpha-12: rgba(255, 255, 255, 0.12);
$uvalib-white-alpha-30: rgba(255, 255, 255, 0.30);
$uvalib-white-alpha-70: rgba(255, 255, 255, 0.70);

/* color variables */
$color-primary-color: $uvalib-brand-blue;/*var(--uvalib-blue-700);*/
$color-primary-color-dark: $uvalib-blue-800;
$color-primary-color-light: $uvalib-blue-500;

$accent-color: $uvalib-orange-a200; /* paper components reference this */
$color-accent-color: $uvalib-orange-a200;
$color-accent-color-dark: $uvalib-orange-a400;
$color-accent-color-light: $uvalib-orange-a100;

$color-text-blue: $uvalib-blue-a400;
$color-text-gray: $uvalib-grey-700;
$color-text-dark: $uvalib-text-grey;
$color-text-dark-secondary: $uvalib-text-grey;
$color-text-disabled: $uvalib-black-alpha-38;
$color-text-light: $uvalib-white;
$color-text-light-secondary: $uvalib-white-alpha-70;

$color-white: $uvalib-white;
$color-secondary-orange: #eb5f0c;
$color-medium-blue: #344D9E;
$color-light-gray: $uvalib-grey-100;
$color-medium-gray: $uvalib-grey-400;
$color-emergency-red: $uvalib-danger;

$color-accessibility-outline: cyan;
$color-accessibility-outline-light-bg: $uvalib-grey-700;
$color-accessibility-outline-dark-bg: $uvalib-grey-400;

$uvalib-captions-bg: $uvalib-grey-200;
$uvalib-sidebar-bg: $uvalib-white;

/* testing out colors for focus states */
$uvalib-accessibility-highlight: $uvalib-brand-blue-light;

/* Color Remapping */
$color-brand-blue: $uvalib-brand-blue;
$color-light-blue: $uvalib-brand-blue-light;
$color-lighter-blue: $uvalib-brand-blue-lighter;
$color-lightest-blue: $uvalib-brand-blue-lightest;
$color-brand-orange: $uvalib-brand-orange;
$color-light-orange: $uvalib-brand-orange-lightest;
$color-lighter-orange: $uvalib-brand-orange-lightest;
$color-primary-orange: $uvalib-brand-orange;
$color-dark-orange: $uvalib-brand-orange-dark;
$color-link: $uvalib-blue-alt-dark;
$color-link-darker: $uvalib-blue-alt-dark;
$color-primary-text: $uvalib-grey-dark;
$color-error: $uvalib-red-emergency;
