@import '_colors';

/**
 * Screen Reader only text for used where text is needed for non visual users
 *
 * @mixin
 * @section Accessibility Mixins
 * @example
 *  span.srOnly {
 *    @include sr-only;
 *  }
 */
@mixin sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

// SCSS mixin definitions for V4client
@mixin be-accessible {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, $uvalib-accessibility-highlight);
}

@mixin apply-hover {
    background-color: var(--uvalib-brand-blue-lightest, $uvalib-brand-blue-lightest);
    color: var(--uvalib-text-dark, $uvalib-text-dark);
}
