@import '_colors';

// SCSS mixin definitions for V4client
@mixin be-accessible {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, $uvalib-accessibility-highlight);
}

@mixin apply-hover {
    background-color: var(--uvalib-brand-blue-lightest, $uvalib-brand-blue-lightest);
    color: var(--uvalib-text-dark, $uvalib-text-dark);
}
