@import '_colors';
@import '_mixins';

/**
 * @atom Text Button
 * @section Button > Text Button
 * @modifiers
 *  .text-button a text button
 * @markup
 *  <button class="text-button">
 *    A Text Button
 *  </button>
 */
button.text-button {
   border: none;
   background: none;
   padding: 0;
   font-weight: 500;
   color: $color-link;
   cursor: pointer;
   display: inline-block;
   &:hover {
      opacity: 1;
      text-decoration: underline;
   }
   &:focus {
      @include be-accessible();
   }
}

/**
 * @atom Icon Button
 * @section Button > Icon Button
 * @modifiers
 *  .icon-button an Icon button
 * @markup
 *  <button class="icon-button">
 *    <i class="fas fa-bars"></i>
 *  </button>
 */
button.icon-button {
   border: none;
   background: none;
   padding:2px;
   margin:0;
   outline: none;
   &:focus {
      @include be-accessible();
   }
}

/**
 * @atom Icon Button
 * @section Button > Icon Button
 * @modifiers
 *  .icon-button an Icon button
 * @markup
 *  <button class="icon-button">
 *    <i class="fas fa-bars"></i>
 *  </button>
 */
.link-button {
  border-radius: 5px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: $uvalib-brand-orange;
  color: white;
  border: none;
  padding: 10px 12px;
   &:hover  {
      background-color: $uvalib-grey-light;
      color: $uvalib-text-dark;
   }
   &:focus {
      @include be-accessible();
   }
}
.pure-button.pure-button-primary {
   background-color: $uvalib-brand-blue-light;
   border: 1px solid $uvalib-brand-blue-light;
   &:hover {
      background-color: $uvalib-brand-blue-lighter;
      border: 1px solid $uvalib-brand-blue-lighter;
      transition: all 0.3s ease;
   }
}

.pure-button.pure-button-secondary {
   background-color: $uvalib-brand-blue-lighter;
   color: black;
}
.pure-button.pure-button-secondary:hover {
   background-color: $uvalib-brand-blue-lightest;
}
.pure-button.pure-button-tertiary {
   background-color: $uvalib-grey-lightest;
   border: 1px solid $uvalib-grey;
   color: black;
}
.pure-button.pure-button-tertiary:hover {
   background-color: $uvalib-grey-light;
}
.pure-button.pure-button-primary,
.pure-button.pure-button-secondary,
.pure-button.pure-button-tertiary {
   margin: 0 0 5px 10px;
   border-radius: 5px;
   font-weight: normal;
   &:focus {
      @include be-accessible();
   }
}
.pure-button.disabled {
   cursor: default;
   opacity: 0.25;
}
