@import '_colors';
@import '_mixins';
@import '~purecss/build/buttons';

/**
 * @atom Text Button
 * @section Button > Text Button
 * @modifiers
 *  .text-button a text button
 * @markup
 *  <button class="text-button">
 *    A Text Button
 *  </button>
 */
button.text-button {
   border: none;
   background: none;
   padding: 0;
   font-weight: 500;
   color: $color-link;
   cursor: pointer;
   display: inline-block;
   &:hover {
      opacity: 1;
      text-decoration: underline;
   }
   &:focus {
      @include be-accessible();
   }
}

/**
 * @atom Icon Button
 * @section Button > Icon Button
 * @modifiers
 *  .icon-button an Icon button
 * @markup
 *  <button class="icon-button">
 *    <i class="fas fa-bars"></i>
 *  </button>
 */
button.icon-button {
   border: none;
   background: none;
   padding:2px;
   margin:0;
   outline: none;
   &:focus {
      @include be-accessible();
   }
}

/**
 * @atom Link Button
 * @section Button > Link Button
 * @modifiers
 *  .link-button a Link button
 * @markup
 *  <a href="https://google.com" tabindex="-1"><button class="link-button">Go to Google</button></a>
 */
.link-button {
  border-radius: 5px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: $uvalib-brand-orange;
  color: white;
  border: none;
  padding: 10px 12px;
   &:hover  {
      background-color: $uvalib-grey-light;
      color: $uvalib-text-dark;
   }
   &:focus {
      @include be-accessible();
   }
}

/**
 * @atom UVALib Button
 * @section Button > UVALib Button
 * @modifiers
 *  .uvalib-button a button
 *  --uvalib-button-background-color Background Color
 *  --uvalib-button-hover-background-color Hover Background Color
 * @markup
 *  <button class="uvalib-button">UVAlib Button</button>
 */
 .uvalib-button {
   @extend .pure-button;
   background-color: var(--uvalib-button-background-color)
 }
 .uvalib-button:hover {
   @extend .pure-button:hover;
   background-color: var(--uvalib-button-hover-background-color)
 }

 /**
  * @atom UVALib Primary Button
  * @section Button > UVALib Button > UVALib Primary Button
  * @modifiers
  *  .uvalib-button a button
  *  .uvalib-primary a primary button
  * @markup
  *  <button class="uvalib-button uvalib-button-primary">UVAlib Primary Button</button>
  */
.uvalib-button-primary {
  @extend .pure-button-primary;
  background-color: var(--uvalib-button-background-color)
}

/**
 * @atom UVALib Button Small
 * @section Button > UVALib Button > UVALib Button Small
 * @modifiers
 *  .uvalib-button a button
 *  .button-small a small button
 * @markup
 *  <button class="uvalib-button button-small">UVAlib Small Button</button>
 */
.uvalib-button-small {
}

.uvalib-button-primary, .uvalib-button-small {
   background-color: var(--uvalib-button-background-color, $uvalib-brand-blue-light);
   border: 1px solid $uvalib-brand-blue-light;
   &:hover {
      background-color: $uvalib-brand-blue-lighter;
      border: 1px solid $uvalib-brand-blue-lighter;
      transition: all 0.3s ease;
   }
}

/**
 * @atom UVALib Button Tertiary
 * @section Button > UVALib Button > UVALib Button Tertiary
 * @modifiers
 *  .uvalib-button a button
 *  .uvalib-button-tertiary a tertiary button
 * @markup
 *  <button class="uvalib-button uvalib-button-tertiary">UVAlib Button Tertiary</button>
 */
.uvalib-button-tertiary {
  background-color: var(--uvalib-button-background-color, $uvalib-grey-lightest);
  border: 1px solid $uvalib-grey;
  color: black;
}
.uvalib-button-tertiary:hover {
  background-color: var(--uvalib-button-hover-background-color, $uvalib-grey-light);
}
.uvalib-button-primary,
.uvalib-button-small,
.uvalib-button-tertiary {
   margin: 0 0 5px 10px;
   border-radius: 5px;
   font-weight: normal;
   &:focus {
      @include be-accessible();
   }
}

/**
 * @atom UVALib Button Disabled
 * @section Button > UVALib Button > UVALib Button Disabled
 * @modifiers
 *  .uvalib-button a button
 *  .disabled a disabled button
 * @markup
 *  <button class="uvalib-button disabled">UVAlib Button Disabled</button>
 */
.uvalib-button.disabled {
   @pure-button.disabled
   cursor: default;
   opacity: 0.25;
}
