/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Dark
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Darkest
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Text Light
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red Emergency
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/**
 * @color Secondary Web Orange
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Web Blue
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Cyan
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Yellow
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Teal
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Magenta
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Green (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Light Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Medium Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Text Grey (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Dark Grey (ADA compliant for hover over shaded table rows)
 * @section Secondary Brand Colors
 */
/*ADA compliant for hover over shaded table rows*/
/**
 * @color Secondary Text Almost Black (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Emergency Red (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/* common scsss variables for V4 client */
/* small media width */
/* spacing unit of measure */
/* font variables */
/* be sure to load fonts.js */
/*Pulling in fonts via Typekit, weights will pull in font variants*/
/*try to refrain from using this one, difficult to read on small screens*/
/*not used?*/
/* Main sizing unit - changing this will update most of the font size/spacing variables on the site */
/* typography variables */
/* used for headers in card body */
/* main body font */
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Dark
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Darkest
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Text Light
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red Emergency
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/**
 * @color Secondary Web Orange
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Web Blue
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Cyan
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Yellow
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Teal
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Magenta
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Green (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Light Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Medium Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Text Grey (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Dark Grey (ADA compliant for hover over shaded table rows)
 * @section Secondary Brand Colors
 */
/*ADA compliant for hover over shaded table rows*/
/**
 * @color Secondary Text Almost Black (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Emergency Red (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Dark
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Darkest
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Text Light
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red Emergency
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/**
 * @color Secondary Web Orange
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Web Blue
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Cyan
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Yellow
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Teal
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Magenta
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Green (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Light Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Medium Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Text Grey (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Dark Grey (ADA compliant for hover over shaded table rows)
 * @section Secondary Brand Colors
 */
/*ADA compliant for hover over shaded table rows*/
/**
 * @color Secondary Text Almost Black (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Emergency Red (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/**
 * Screen Reader only text for used where text is needed for non visual users
 *
 * @mixin
 * @section Accessibility Mixins
 * @example
 *  span.srOnly {
 *    @include sr-only;
 *  }
 */
/* common scsss variables for V4 client */
/* small media width */
/* spacing unit of measure */
h1 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 700;
  font-size: calc($uvalib-main-font-size-unit*3.75);
  line-height: calc($uvalib-main-font-size-unit*3.75);
  color: #232D4B;
  margin-top: calc($uvalib-spacing-unit/4);
  margin-bottom: calc($uvalib-spacing-unit/1.5); }

/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Dark
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Darkest
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Text Light
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red Emergency
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/**
 * @color Secondary Web Orange
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Web Blue
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Cyan
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Yellow
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Teal
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Magenta
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Green (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Light Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Medium Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Text Grey (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Dark Grey (ADA compliant for hover over shaded table rows)
 * @section Secondary Brand Colors
 */
/*ADA compliant for hover over shaded table rows*/
/**
 * @color Secondary Text Almost Black (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Emergency Red (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Dark
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey Darkest
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Text Light
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red Emergency
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/**
 * @color Secondary Web Orange
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Web Blue
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Cyan
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Yellow
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Teal
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Magenta
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Green (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Light Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Medium Gray
 * @section Secondary Brand Colors
 */
/**
 * @color Secondary Text Grey (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Dark Grey (ADA compliant for hover over shaded table rows)
 * @section Secondary Brand Colors
 */
/*ADA compliant for hover over shaded table rows*/
/**
 * @color Secondary Text Almost Black (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/**
 * @color Secondary Emergency Red (ADA compliant)
 * @section Secondary Brand Colors
 */
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/**
 * Screen Reader only text for used where text is needed for non visual users
 *
 * @mixin
 * @section Accessibility Mixins
 * @example
 *  span.srOnly {
 *    @include sr-only;
 *  }
 */
/*!
Pure v2.0.3
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/pure-css/pure/blob/master/LICENSE.md
*/
.pure-button, .uvalib-button {
  /* Structure */
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner, .uvalib-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* Inherit .pure-g styles */
.pure-button-group {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */ }

.opera-only :-o-prefocus,
.pure-button-group {
  word-spacing: -0.43em; }

.pure-button-group .pure-button, .pure-button-group .uvalib-button {
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

/*csslint outline-none:false*/
.pure-button, .uvalib-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px; }

.pure-button-hover,
.pure-button:hover,
.uvalib-button:hover,
.pure-button:focus,
.uvalib-button:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }


.pure-button:focus,
.uvalib-button:focus {
  outline: 0; }

.pure-button-active,
.pure-button:active,
.uvalib-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000; }

.pure-button[disabled], .uvalib-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: none;
  background-image: none;
  opacity: 0.40;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none; }

.pure-button-hidden {
  display: none; }

.pure-button-primary, .uvalib-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.uvalib-button-primary,
a.pure-button-selected {
  background-color: #0078e7;
  color: #fff; }

/* Button Groups */
.pure-button-group .pure-button, .pure-button-group .uvalib-button {
  margin: 0;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

.pure-button-group .pure-button:first-child, .pure-button-group .uvalib-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.pure-button-group .pure-button:last-child, .pure-button-group .uvalib-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none; }

/**
 * @atom Text Button
 * @section Button > Text Button
 * @modifiers
 *  .text-button a text button
 * @markup
 *  <button class="text-button">
 *    A Text Button
 *  </button>
 */
button.text-button {
  border: none;
  background: none;
  padding: 0;
  font-weight: 500;
  color: #005679;
  cursor: pointer;
  display: inline-block; }
  button.text-button:hover {
    opacity: 1;
    text-decoration: underline; }
  button.text-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, #0370B7); }

/**
 * @atom Icon Button
 * @section Button > Icon Button
 * @modifiers
 *  .icon-button an Icon button
 * @markup
 *  <button class="icon-button">
 *    <i class="fas fa-bars"></i>
 *  </button>
 */
button.icon-button {
  border: none;
  background: none;
  padding: 2px;
  margin: 0;
  outline: none; }
  button.icon-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, #0370B7); }

/**
 * @atom Link Button
 * @section Button > Link Button
 * @modifiers
 *  .link-button a Link button
 * @markup
 *  <a href="https://google.com" tabindex="-1"><button class="link-button">Go to Google</button></a>
 */
.link-button {
  border-radius: 5px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #E57200;
  color: white;
  border: none;
  padding: 10px 12px; }
  .link-button:hover {
    background-color: #DADADA;
    color: #2B2B2B; }
  .link-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, #0370B7); }

/**
 * @atom UVALib Button
 * @section Button > UVALib Button
 * @modifiers
 *  .uvalib-button a button
 * @markup
 *  <button class="uvalib-button">UVAlib Button</button>
 */
/**
  * @atom UVALib Primary Button
  * @section Button > UVALib Button > UVALib Primary Button
  * @modifiers
  *  .uvalib-button a button
  *  .uvalib-primary a primary button
  * @markup
  *  <button class="uvalib-button uvalib-button-primary">UVAlib Primary Button</button>
  */
/**
 * @atom UVALib Button Small
 * @section Button > UVALib Button > UVALib Button Small
 * @modifiers
 *  .uvalib-button a button
 *  .button-small a small button
 * @markup
 *  <button class="uvalib-button button-small">UVAlib Small Button</button>
 */
.uvalib-button-primary, .uvalib-button-small {
  background-color: #0370B7;
  border: 1px solid #0370B7; }
  .uvalib-button-primary:hover, .uvalib-button-small:hover {
    background-color: #3395D4;
    border: 1px solid #3395D4;
    transition: all 0.3s ease; }

/**
 * @atom UVALib Button Tertiary
 * @section Button > UVALib Button > UVALib Button Tertiary
 * @modifiers
 *  .uvalib-button a button
 *  .uvalib-button-tertiary a tertiary button
 * @markup
 *  <button class="uvalib-button uvalib-button-tertiary">UVAlib Button Tertiary</button>
 */
.uvalib-button-tertiary {
  background-color: #F1F1F1;
  border: 1px solid #808080;
  color: black; }

.uvalib-button-tertiary:hover {
  background-color: #DADADA; }

.uvalib-button-primary,
.uvalib-button-small,
.uvalib-button-tertiary {
  margin: 0 0 5px 10px;
  border-radius: 5px;
  font-weight: normal; }
  .uvalib-button-primary:focus,
  .uvalib-button-small:focus,
  .uvalib-button-tertiary:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, #0370B7); }

/**
 * @atom UVALib Button Disabled
 * @section Button > UVALib Button > UVALib Button Disabled
 * @modifiers
 *  .uvalib-button a button
 *  .disabled a disabled button
 * @markup
 *  <button class="uvalib-button disabled">UVAlib Button Disabled</button>
 */
.uvalib-button.disabled {
  @pure-button .disabled
   cursor: default;
  opacity: 0.25; }
