/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/*ADA compliant*/
/*ADA compliant*/
/*ADA compliant for hover over shaded table rows*/
/*ADA compliant*/
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/* common scsss variables for V4 client */
/* small media width */
/* spacing unit of measure */
/* font variables */
/* be sure to load fonts.js */
/*Pulling in fonts via Typekit, weights will pull in font variants*/
/*try to refrain from using this one, difficult to read on small screens*/
/*not used?*/
/* Main sizing unit - changing this will update most of the font size/spacing variables on the site */
/* typography variables */
/* used for headers in card body */
/* main body font */
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/*ADA compliant*/
/*ADA compliant*/
/*ADA compliant for hover over shaded table rows*/
/*ADA compliant*/
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/*ADA compliant*/
/*ADA compliant*/
/*ADA compliant for hover over shaded table rows*/
/*ADA compliant*/
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/* common scsss variables for V4 client */
/* small media width */
/* spacing unit of measure */
h1 {
  font-family: "franklin-gothic-urw", arial, sans-serif;
  font-weight: 700;
  font-size: calc($uvalib-main-font-size-unit*3.75);
  line-height: calc($uvalib-main-font-size-unit*3.75);
  color: #232D4B;
  margin-top: calc($uvalib-spacing-unit/4);
  margin-bottom: calc($uvalib-spacing-unit/1.5); }

/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/*ADA compliant*/
/*ADA compliant*/
/*ADA compliant for hover over shaded table rows*/
/*ADA compliant*/
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/** @color Black */
/** @color White */
/** @color Danger */
/** @color Success */
/* OFFICIAL 2019-2020 BRAND COLORS */
/**
 * @color Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (lighter)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Orange (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Alternative Blue (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Teal (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Green (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Red (darkest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Yellow (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Beige (dark)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (lightest)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey (light)
 * @section 2019-2020 Brand Colors
 */
/**
 * @color Grey
 * @section 2019-2020 Brand Colors
 */
/*Secondary Brand Colors*/
/*ADA compliant*/
/*ADA compliant*/
/*ADA compliant for hover over shaded table rows*/
/*ADA compliant*/
/*ADA compliant*/
/* PHASE OUT THE CODE BELOW */
/* Brand Color Palate*/
/* link colors for body links */
/* Other color palette */
/* color variables */
/*var(--uvalib-blue-700);*/
/* paper components reference this */
/* testing out colors for focus states */
/* Color Remapping */
/**
 * @atom Text Button
 * @section Button > Text Button
 * @modifiers
 *  .text-button a text button
 * @markup
 *  <button class="text-button">
 *    A Text Button
 *  </button>
 */
button.text-button {
  border: none;
  background: none;
  padding: 0;
  font-weight: 500;
  color: #005679;
  cursor: pointer;
  display: inline-block; }
  button.text-button:hover {
    opacity: 1;
    text-decoration: underline; }
  button.text-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, #0370B7); }

/**
 * @atom Icon Button
 * @section Button > Icon Button
 * @modifiers
 *  .icon-button an Icon button
 * @markup
 *  <button class="icon-button">
 *    <i class="fas fa-bars"></i>
 *  </button>
 */
button.icon-button {
  border: none;
  background: none;
  padding: 2px;
  margin: 0;
  outline: none; }
  button.icon-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, #0370B7); }

/**
 * @atom Icon Button
 * @section Button > Icon Button
 * @modifiers
 *  .icon-button an Icon button
 * @markup
 *  <button class="icon-button">
 *    <i class="fas fa-bars"></i>
 *  </button>
 */
.link-button {
  border-radius: 5px;
  font-weight: normal;
  text-transform: uppercase;
  background-color: #E57200;
  color: white;
  border: none;
  padding: 10px 12px; }
  .link-button:hover {
    background-color: #DADADA;
    color: #2B2B2B; }
  .link-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, #0370B7); }

.pure-button.pure-button-primary {
  background-color: #0370B7;
  border: 1px solid #0370B7; }
  .pure-button.pure-button-primary:hover {
    background-color: #3395D4;
    border: 1px solid #3395D4;
    transition: all 0.3s ease; }

.pure-button.pure-button-secondary {
  background-color: #3395D4;
  color: black; }

.pure-button.pure-button-secondary:hover {
  background-color: #87B9D9; }

.pure-button.pure-button-tertiary {
  background-color: #F1F1F1;
  border: 1px solid #808080;
  color: black; }

.pure-button.pure-button-tertiary:hover {
  background-color: #DADADA; }

.pure-button.pure-button-primary,
.pure-button.pure-button-secondary,
.pure-button.pure-button-tertiary {
  margin: 0 0 5px 10px;
  border-radius: 5px;
  font-weight: normal; }
  .pure-button.pure-button-primary:focus,
  .pure-button.pure-button-secondary:focus,
  .pure-button.pure-button-tertiary:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--uvalib-accessibility-highlight, #0370B7); }

.pure-button.disabled {
  cursor: default;
  opacity: 0.25; }
